<!-- declarative approach -->
<h1>{{ lowerCaseString | uppercase }}</h1>
<hr />
<!-- imperative approach -->
<h1>{{ formatStringToUpperCase(lowerCaseString) }}</h1>
<hr />
<h1>{{ upperCaseString | lowercase }}</h1>
<hr />
<h1>{{ lowerCaseString | titlecase }}</h1>
<hr />
<h1>{{ upperCaseString | slice: 3 }}</h1>
<hr />
<h1>{{ upperCaseString | slice: 3 : 7 }}</h1>
<hr />
<h1>{{ personData | json }}</h1>
<hr />
<h1>{{ price | number }}</h1>
<hr />
<h1>{{ price_1 | number: '8.2-3' }}</h1>
<!-- 
1.2-2
│ │ └── maximum decimal digits
│ └──── minimum decimal digits
└────── minimum integer digits
-->
<hr />
<h1>{{ price_2 | number: '1.2-2' }}</h1>
<hr />
<h1>{{ price_3 | currency }}</h1>
<hr />
<h1>{{ price_3 | currency: 'INR' }}</h1>
<hr />
<h1>{{ price_3 | currency: 'INR' : 'symbol' }}</h1>
<hr />
<h1>{{ price_3 | currency: 'INR' : 'code' }}</h1>
<!-- <hr> -->
<!-- <h1>{{ price_3 | currency:'INR':'name' }}</h1> -->
<hr />
<h1>{{ progress | percent }}</h1>
<hr />
<h1>{{ today }}</h1>
<hr />
<h1>{{ today | date }}</h1>
<hr />
<h1>{{ today | date: 'short' }}</h1>
<hr />
<h1>{{ today | date: 'medium' }}</h1>
<hr />
<h1>{{ today | date: 'dd/MM/yyyy' }}</h1>
<hr />
<h1>{{ today | date: 'dd MMMM yyyy' }}</h1>
<hr />
<ul>
  <li *ngFor="let fruit of fruits | slice: 0 : 2">{{ fruit }}</li>
</ul>
<hr />
<ul>
  @for (fruit of fruits | slice: 1 : 3; track fruit) {
    <li>{{ fruit }}</li>
  }
</ul>
<hr />
<ul>
  @for (fruit of fruits | slice: 2; track fruit) {
    <li>{{ fruit }}</li>
  }
</ul>
<hr />
<h1>{{ word | uppercase | slice: 3 : 8 }}</h1>
<hr />
<ul>
  @for (user of users; track user) {
    <li>{{ user.name | titlecase }} - {{ user.age }}</li>
  }
</ul>
<hr />
<h1>{{ 'Angular' | reverse }}</h1>
<hr />
<h1>{{ 'John' | greet: 'Hello' }}</h1>
<hr />
<h1>{{ fruits | slice: 0 : 2 }}</h1>
<hr />
<h1>{{ today | date: 'short' }}</h1>
<hr />
<h1>{{ today | date: 'medium' }}</h1>
<hr />
<h1>{{ today | date: 'long' }}</h1>
<hr />
<h1>{{ today | date: 'full' }}</h1>
<hr />
<h1>{{ today | date: 'shortDate' }}</h1>
<hr />
<h1>{{ today | date: 'mediumDate' }}</h1>
<hr />
<h1>{{ today | date: 'longDate' }}</h1>
<hr />
<h1>{{ today | date: 'fullDate' }}</h1>
<hr />
<h1>{{ today | date: 'shortTime' }}</h1>
<hr />
<h1>{{ today | date: 'mediumTime' }}</h1>
<hr />
<h1>{{ today | date: 'longTime' }}</h1>
<hr />
<h1>{{ today | date: 'fullTime' }}</h1>
<hr />
<h1>{{ today | date: 'h' }}</h1>
<hr />
<h1>{{ today | date: 'm' }}</h1>
<hr />
<h1>{{ today | date: 's' }}</h1>
<hr />
<h1>{{ today | date: 'a' }}</h1>
<hr />
<h1>{{ today | date: 'h:m:s a' }}</h1>
<hr />
<h1>{{ today | date: 'd' }}</h1>
<hr />
<h1>{{ today | date: 'M' }}</h1>
<hr />
<h1>{{ today | date: 'y' }}</h1>
<hr />
<h1>{{ today | date: 'W' }}</h1>
<hr />
<h1>{{ today | date: 'w' }}</h1>
<hr />
<h1>{{ today | date: 'd-M-y' }}</h1>
<hr />
<h1>{{ today | date: 'M-d-y' }}</h1>
<hr />
<h1>{{ 1.234 | number: '2.5-6' }}</h1>
<hr />
<h1>{{ 1.234 | number: '3.7-8' }}</h1>
<hr />
<h1>{{ 2.789 | number: '1.1-2' }}</h1>
<hr />
<h1>{{ 0.5 | percent }}</h1>
<hr />
<h1>{{ 50 | percent }}</h1>
<hr />
<h1>{{ 0.5 * 100 }}</h1>
<hr />
<h1>{{ 25 | currency }}</h1>
<hr />
<h1>{{ 25 | currency: 'EUR' }}</h1>
<hr />
<h1>{{ 25 | currency: 'GBP' }}</h1>
<hr />
<h1>{{ 25 | currency: 'GBP' : 'code' }}</h1>
<hr />
<h1>{{ 25 | currency: 'EUR' : 'symbol' }}</h1>
<hr />
<h1>{{ 25 | currency: 'EUR' : 'symbol' : '3.5-6' }}</h1>
<hr />
<h1>{{ 3 | mathPower: 2 }}</h1>
<hr />
<h1>{{ 2500 | addCgstSgst: 8 : 9 }}</h1>
<hr />
<h1>{{ 100 | currencyConverter: 'USD' : 'INR' }}</h1>
