<ul *ngFor="let user of users">
  <li>User: {{ user.id }}</li>
  <li>Name: {{ user.name }}</li>
  <li>Age: {{ user.age }}</li>
  <li>Is Married: {{ user.isMarried ? 'Yes' : 'No' }}</li>
  <li>Hobbies:</li>
  <ul *ngFor="let hobby of user.hobbies">
    <li>{{ hobby }}</li>
  </ul>
</ul>

<hr />

<div *ngFor="let department of departments; let deptIndex = index">
  <h2>{{ deptIndex + 1 }}. {{ department.name }}</h2>
  <ul>
    <li *ngFor="let employee of department.employees; let empIndex = index">
      {{ empIndex + 1 }}. {{ employee }} is of {{ department.name }} department.
    </li>
  </ul>
</div>

<hr />

<div *ngFor="let department of departments_1">
  <h2>{{ department.name }}</h2>

  <div *ngFor="let employee of department.employees">
    <p>
      Name: {{ employee.name }}
      <br />
      Age: {{ employee.age }}
      <br />
      @if (employee.age >= 18) {
        {{ employee.name }} is married.
      }
    </p>
  </div>
</div>

<hr />

<div *ngFor="let university of universities">
  <h1>{{ university.name }}</h1>

  <div *ngFor="let department of university.departments">
    <h2>{{ department.name }}</h2>

    <div *ngFor="let course of department.courses">
      <h3>{{ course.name }}</h3>

      <ul>
        <li *ngFor="let student of course.students">
          {{ student }}
        </li>
      </ul>
    </div>
  </div>
</div>

<hr />

<div *ngFor="let department of departments">
  <h2>{{ department.name }}</h2>

  <ul>
    <li *ngFor="let employee of department.employees">
      {{ employee }}
    </li>
  </ul>
</div>

@for (department of departments; track department.name) {
  <h2>{{ department.name }}</h2>

  <ul>
    @for (employee of department.employees; track employee) {
      <li>{{ employee }}</li>
    }
  </ul>
}
